{% extends "store/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="icon-box-title">Reset your password</h1>
            <hr>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the email address you registered with.</p>
        </div>
        <div class="col-3"></div>
    </div>
</div> 

{% endblock content %}