{% extends 'store/base.html' %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}SeamlessBuy |Home Page{% endif %}
{% endblock %}

{% block content %}

 {% comment %} Main content {% endcomment %}
 <main class="main">
    <div class="intro-section pt-3 pb-3 mb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                        <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "responsive": {
                                    "768": {
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                            <div class="intro-slide">
                                <figure class="slide-image">
                                    <picture>
                                        <source media="(max-width: 480px)" srcset="{% static 'images/heropic2.jpeg' %}">
                                        <img src="{% static 'images/heropic2.jpeg' %}" alt="Image background pic">
                                    </picture>
                                </figure><!-- End .slide-image -->

                                <div class="intro-content">          
                                     <h3 class="intro-subtitle text-primary"> 
                                        Loans are approved within 48 hours!
                                     </h3><!-- End .h3 intro-subtitle --> 
                                    <h1 class="intro-title" style="color:#333;">
                                        No money? <br>No problem!
                                    </h1><!-- End .intro-title --> 
                                    
                                    <div class="intro-price">
                                         
                                        <span class="text-primary">
                                            Buy now Pay later!
                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="{{ 'register' }}" class="btn btn-primary btn-round">
                                        <span>Apply now</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .intro-content -->
                            </div><!-- End .intro-slide -->

                            <div class="intro-slide">
                                <figure class="slide-image">
                                    <picture>
                                        <source media="(max-width: 480px)" srcset="{% static 'images/heropic1.jpg' %}">
                                        <img src="{% static 'images/heropic1.jpg' %}" alt="Image background pic">
                                    </picture>
                                </figure><!-- End .slide-image -->

                                <div class="intro-content">
                                    <h3 class="intro-subtitle text-primary"></h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title">
                                        
                                    </h1><!-- End .intro-title -->

                                    <div class="intro-price">
                                        
                                        <span class="text-primary">

                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="category.html" class="btn btn-primary btn-round">
                                        <span>Apply now</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .intro-content -->
                            </div><!-- End .intro-slide -->
                        </div><!-- End .intro-slider owl-carousel owl-simple -->
                        
                        <span class="slider-loader"></span><!-- End .slider-loader -->
                    </div><!-- End .intro-slider-container -->
                </div><!-- End .col-lg-8 -->

                <div class="col-lg-4">
                    <div class="intro-banners">
                        <div class="banner mb-lg-1 mb-xl-2">
                            <a href="#">
                                <img src="{% static 'assets/images/demos/demo-3/banners/banner-1.jpg' %}" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Featured</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Quality <br>Products</a></h3><!-- End .banner-title -->
                               
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner mb-lg-1 mb-xl-2">
                            <a href="#">
                                <img src="{% static 'assets/images/demos/demo-3/banners/banner-2.jpg' %}" alt="Banner">
                            </a>
                            <div class="banner-content">
                                <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Featured </a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Black Fridays <span></span></a></h3><!-- End .banner-title -->
                                
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                        <div class="banner mb-0">
                            <a href="#">
                                <img src="{% static 'assets/images/demos/demo-3/banners/banner-3.jpg' %}" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">New</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Buy now<span>Pay later</span></a></h3><!-- End .banner-title -->
                                {% comment %} <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a> {% endcomment %}
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .intro-banners -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .intro-section -->

    {% comment %} First Section {% endcomment %}
    <div class="container featured">
        <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab" role="tab" aria-controls="products-featured-tab" aria-selected="true">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="products-sale-link" data-toggle="tab" href="#products-sale-tab" role="tab" aria-controls="products-sale-tab" aria-selected="false">Premium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="products-top-link" data-toggle="tab" href="#products-top-tab" role="tab" aria-controls="products-top-tab" aria-selected="false">Top Rated</a>
            </li>
        </ul>

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "600": {
                                "items":2
                            },
                            "992": {
                                "items":3
                            },
                            "1200": {
                                "items":4
                            }
                        }
                    }'>
                    {% for feature_prod in featured2_products %}
                    <div class="product product-2">
                        <figure class="product-media">
                            <a href="{{ feature_prod.get_absolute_url }}">
                                <img style="height:250px;" src="{{ feature_prod.image.url }}" alt="Featured Products" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action product-action-dark">
                                <a href="{{ feature_prod.get_absolute_url }}" class="btn-product btn-cart" title="Add to cart"><span>view product</span></a>
                                {% comment %} <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> {% endcomment %}
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{ feature_prod.category }}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="">{{ feature_prod.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                &#x20A6;{{ feature_prod.price }}
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( 5 Reviews )</span>
                            </div><!-- End .rating-container -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {% endfor %}
        
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->


            {% comment %} First New Deals Slider {% endcomment %}
            <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "600": {
                                "items":2
                            },
                            "992": {
                                "items":3
                            },
                            "1200": {
                                "items":4
                            }
                        }
                    }'>
                    {% for new_deals in featured_products %}
                    <div class="product product-2">  
                        <figure class="product-media">
                            <a href="{{ new_deals.get_absolute_url }}">
                                <img style="height:250px;" src="{{ new_deals.image.url }}" alt="New deals product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action product-action-dark">
                                {% comment %} <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a> {% endcomment %}
                                <a href="{{ new_deals.get_absolute_url }}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{ new_deals.category }}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{ new_deals.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                &#x20A6;{{ new_deals.price }}
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 70%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( 11 Reviews )</span>
                            </div><!-- End .rating-container -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->


            {% comment %} Top Rated/Premium Products {% endcomment %}
            <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel" aria-labelledby="products-top-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "600": {
                                "items":2
                            },
                            "992": {
                                "items":3
                            },
                            "1200": {
                                "items":4
                            }
                        }
                    }'>
                    {% for top_rated in premium_products %}
                    <div class="product product-2">
                        <figure class="product-media">
                            <a href="{{ top_rated.get_absolute_url }}">
                                <img style="height:250px;" src="{{ top_rated.image.url }}" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                             <div class="product-action product-action-dark">
                                {% comment %} <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a> {% endcomment %}
                                <a href="{{ top_rated.get_absolute_url }}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action --> 
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{top_rated.category}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="{{ top_rated.get_absolute_url }}">{{ top_rated.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="out-price">&#x20A6;{{ top_rated.price }}</span>
                                <span class="out-text">In Stock</span>
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( 3 Reviews )</span>
                            </div><!-- End .rating-container -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->

        </div><!-- End .tab-content -->
    </div><!-- End .container -->

    <div class="mb-7 mb-lg-11"></div><!-- End .mb-7 -->

    {% comment %} New Deals {% endcomment %}
    <div class="container">
        <div class="cta cta-border cta-border-image mb-5 mb-lg-7" style="background-image: url({% static 'assets/images/demos/demo-3/bg-1.jpg' %});">
            <div class="cta-border-wrapper bg-white">
                <div class="row justify-content-center">
                    <div class="col-md-11 col-xl-11">
                        <div class="cta-content">
                            <div class="cta-heading">
                                <h3 class="cta-title text-right"><span class="text-primary">New Deals</span> <br>Start Daily at 12pm w.a.t.</h3><!-- End .cta-title -->
                            </div><!-- End .cta-heading -->
                            
                            <div class="cta-text">
                                <p>Get <span class="text-dark font-weight-normal">FREE SHIPPING & 5% discounts</span> on <br>every order with SeamlessBuy rewards program</p>
                            </div><!-- End .cta-text -->
                            <a href="#" class="btn btn-primary btn-round"><span>Check New Deals</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .cta-content -->
                    </div><!-- End .col-xl-7 -->
                </div><!-- End .row -->
            </div><!-- End .bg-white -->
        </div><!-- End .cta -->
    </div><!-- End .container -->

    {% comment %} Deals and Oulets  {% endcomment %}
    <div class="bg-light deal-container pt-7 pb-7 mb-5">
        <div class="container">
            <div class="heading text-center mb-4">
                <h2 class="title">Hot Deals</h2><!-- End .title -->
                <p class="title-desc">Deals less than &#x20A6;150,000.00</p><!-- End .title-desc -->
            </div><!-- End .heading -->

            <div class="row">
                {% for p in penultimate_product %}
                <div class="col-lg-6 deal-col">
                    <div class="deal-top">
                        <h2>Deal of the Day.</h2>
                    </div><!-- End .deal-top -->
                   
                    <div class="">
                        <a href="{{ p.get_absolute_url }}">
                         <img src="{{ p.image.url }}" style="height:px; width:;" alt="Hot product image" class="product-image" />
                        </a>
                         <div class="deal-content">
                            <h4>Limited quantities. </h4>
                            <h3 class="product-title"><a href="">{{ p.name }}</a></h3><!-- End .product-title -->

                            <div class="product-price">
                                <span class="new-price">&#x20A6;{{p.price}}</span>
                            </div><!-- End .product-price -->
                            {% comment %} <a href="" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a> {% endcomment %}
                        </div><!-- End .deal-content --> 

                        <div class="deal-bottom">
                            <div class="deal-countdown" data-until="+4h"></div><!-- End .deal-countdown -->
                        </div><!-- End .deal-bottom -->
                    </div><!-- End .deal --> {% endfor %}
                </div><!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <div class="products">
                        <div class="row">
                            {% for deal in hot_products %}
                            <div class="col-6">
                                <div class="product product-2">
                                    <figure class="product-media">
                                        <span class="product-label label-circle label-top">Top</span>
                                        <span class="product-label label-circle label-sale">Sale</span>
                                        <a href="{{ deal.get_absolute_url }}">
                                            <img style="height:200px;" src="{{ deal.image.url }}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
                                            <div class="product-action product-action-dark">
                                                <a href="{{ deal.get_absolute_url }}" class="btn-product btn-quickview" title="Quick view"><span>view product</span></a>
                                            </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{ deal.category }}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="#">{{ deal.name }}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">N{{ deal.price }}</span>
                                            {% comment %} <span class="old-price">Was N</span> {% endcomment %}
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            {% comment %} <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings --> {% endcomment %}
                                            <span class="ratings-text">( 5 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 -->
                            {% endfor %}
                            
                            {% comment %} <div class="col-6">
                                <div class="product product-2">
                                    <figure class="product-media">
                                        <span class="product-label label-circle label-sale">Sale</span>
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-3/products/product-6.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Computers & Tablets</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Apple - Smart Keyboard Folio  for 11-inch iPad Pro</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">N179.00</span>
                                            <span class="old-price">Was N200.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 --> {% endcomment %}
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
            <div class="more-container text-center mt-3 mb-0">
                {% comment %} <a href="#" class="btn btn-outline-dark-2 btn-round btn-more"><span>Shop more Outlet deals</span><i class="icon-long-arrow-right"></i></a> {% endcomment %}
            </div><!-- End .more-container -->
        </div><!-- End .container -->
    </div><!-- End .deal-container -->


    {% comment %} Partners/Sponsors Section {% endcomment %}
    <div class="container">
        <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 30,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        }
                    }
                }'>
                <a href="#" class="brand">
                    <img src="{% static 'images/partner1.jpeg' %}" alt="Haier Thermocool">
                </a>

                <a href="#" class="brand">
                    <img src="{% static 'images/partner2.jpeg' %}" alt="Leasehouz">
                </a>

                <a href="#" class="brand">
                    <img src="{% static 'images/partner3.png' %}" alt="Creditville">
                </a>

                <a href="#" class="brand">
                    <img src="{% static 'images/partner4.png' %}" alt="TCL partner">
                </a>

                <a href="#" class="brand">
                    <img src="{% static 'images/partner1.jpeg' %}" alt="Haier Thermocool">
                </a>

                <a href="#" class="brand">
                    <img src="{% static 'images/partner3.png' %}" alt="Creditville">
                </a>
            </div><!-- End .owl-carousel -->
    </div><!-- End .container -->
    <div class="container">
        <hr class="mt-3 mb-6">
    </div><!-- End .container -->

    {% comment %} Trending Brands/Products {% endcomment %}
    <div class="container trending">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title">New Arrivals</h2><!-- End .title -->
            </div><!-- End .heading-left -->
           <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="trending-all-link" data-toggle="tab" href="{% url "store:product_list" %}" role="tab" aria-controls="trending-all-tab" aria-selected="true">All</a>
                    </li>                
                    {% for c in categories %}
                    <li {% if c.slug == c.slug %} {% endif %} class="nav-item">
                        <a class="nav-link" id="trending-tv-link" data-toggle="" href="{{ c.get_absolute_url }}" role="tab" aria-controls="trending-tv-tab" aria-selected="false">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
           </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="row">
            <div class="col-xl-3col"></div>
            <div class="col-xl-5col d-none d-xl-block">
                <div class="banner">
                    <a href="#">
                        {% comment %} <img src="{% static 'assets/images/demos/demo-3/banners/banner-4.jpg' %}" alt="product banner"> {% endcomment %}
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-xl-5col --> 

            <div class="col-xl-4-5col">
                
                <div class="tab-content tab-content-carousel just-action-icons-sm">    
                    <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel" aria-labelledby="trending-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    }
                                }
                            }'>

                            {% for product in new_arrivals %}
                            <div class="product product-2">
                                <figure class="product-media">
                                    <span class="product-label label-circle label-top">Top</span>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img style="height:200px;" src="{{ product.image.url }}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-dark">
                                        <a href="{{ product.get_absolute_url }}" class="btn-product btn-quickview" title="Quick view"><span>view product</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{ product.category }}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="#">{{ product.name }}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        &#x20A6;{{ product.price }}
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        {% comment %} <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings --> {% endcomment %}
                                        <span class="ratings-text">(4 Reviews)</span>
                                    </div><!-- End .rating-container -->
                                    
                                    <div class="product-nav product-nav-dots">
                                        {% if product.color %}
                                            <a href="" style="background: {{ product.color }}"><span class="sr-only">Color name</span></a>
                                            <a href="" class="active" style="background: {{ product.color }};"><span class="sr-only">Color name</span></a>
                                        {% endif %}
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            {% endfor %}
                        </div>
                        <!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    
                   
                </div><!-- End .tab-content -->
                <div class="col-xl-3col"></div>
            </div><!-- End .col-xl-4-5col -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="container">
        <hr class="mt-5 mb-6">
    </div><!-- End .container -->

    <div class="container">
        <hr class="mt-5 mb-0">
    </div><!-- End .container -->

    {% comment %} Free shipping/returns Section {% endcomment %}
    <div class="icon-boxes-container mt-2 mb-2 bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Enjoy Free Shipping</h3><!-- End .icon-box-title -->
                            <p>Orders &#x20A6;500,000 or more</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                            <p>Within 7 days</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 5% Off 1 Item</h3><!-- End .icon-box-title -->
                            <p>when you sign up and make an order</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                            <p>24/7 amazing services</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <div class="container">
        <div class="cta cta-separator cta-border-image cta-half mb-0" style="background-image: url({% static 'assets/images/demos/demo-3/bg-2.jpg' %});">
            <div class="cta-border-wrapper bg-white">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-wrapper cta-text text-center">
                            <h3 class="cta-title">Shop Social</h3><!-- End .cta-title -->
                            <p class="cta-desc">Follow us on our social media handles to get more info about latest deals, promo codes and more!</p><!-- End .cta-desc -->
                    
                            <div class="social-icons social-icons-colored justify-content-center">
                                <a href="https://www.facebook.com/SeamlessBuy/" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="https://twitter.com/SeamlessBuy?t=Oce6Lrf4Ks4pBhJ3ZUg-YA&s=08" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="https://www.instagram.com/seamlessbuy/" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .cta-wrapper -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <div class="cta-wrapper text-center">
                            <h3 class="cta-title">Get the Latest Deals</h3><!-- End .cta-title -->
                            <p class="cta-desc">and <br>receive <span class="text-primary">%5 coupon</span> for your first shopping</p><!-- End .cta-desc -->
                    
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .cta-wrapper -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .bg-white -->
        </div><!-- End .cta -->
    </div><!-- End .container -->
</main><!-- End .main -->

{% endblock content %}